# Eclipse specific

/wrapper
/.settings
/bin
/gen
/.classpath
/.project
/project.properties

# Android Studio specific
/.gradle
/.idea
/*.iml
/build
/local.properties
/javadoc.xml
/doc/
/gradlew
/gradlew.bat
/gradle
captures/

# Specific API
src/com/eleybourn/bookcatalogue/goodreads/GoodreadsApiKeys.java
src/com/eleybourn/bookcatalogue/amazon/AmazonAppKey.java
